

.card {
    background-color: rgb(13, 109, 0);
    padding: 1rem;
    border-radius: 1rem;
    color: #000;
    box-shadow: 3.1px 6.2px 6.2px hsl(0deg 0% 0% / 0.4);
}

.unsupported-network {
    width: 340px;
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: auto;
    padding: 1rem;
}

.landing,
.connect-wallet,
.mint-nft,
.member-page {
  flex-direction: column;
  width: 960px;
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  align-content: center;
  display: flex;
  text-align: center;
}